h1 {
  text-align: center;
}
.image2 {
  height:300px;
  width:300px;
}
body{
   background-image: linear-gradient(lightblue, lightgreen);
   width: auto;
   height: auto;

}
.boxed {
  border: 3px solid grey ;
  text-align: center;
}
.italic{
  font-style:italic;
  font-size: 15px;
  text-align: center;
}

.title{
 font-size: 50px;
 text-shadow: 1px 1px 2px blue;
 font-style:italic;
 font-weight:bold;
}
.smtitle{
 font-size: 20px;
 font-style:italic;
 font-weight:bold;
}
.intro{
  font-style:italic;
}
.description{
  font-size: 20px;
}
.recipetitle{
  font-style:italic;
  font-weight:bold;
  font-size: 28px;
}
.list{
  font-size: 16px;
}
.formore{
  font-style:italic;
  font-size: 22px;
  text-align: center;
}
.introduction{
  font-size:16px;
  font-style:italic;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.btn
{
  width: 100px;
  height: 50px;
  text-align: center;
  line-height: 40px;
  font-size: 30px
}

.row-one{
  text-align: center;
}

.descriptioncenter {
text-align:center;
}


/*For Recipes*/
