h1 {
  text-align: center;
}
.image2 {
  height:300px;
  width:300px;
}
body{
   background-image: linear-gradient(lightblue, lightgreen);
  margin: 25px 50px 50px 100px;
}
.boxed {
  border: 3px solid grey ;
  text-align: center;
}
.italic{
  font-style:italic;
}
.title{
 font-size: 72px;
 text-shadow: 1px 1px 2px blue;
 font-style:italic;
 font-weight:bold;
}
.smtitle{
 font-size: 36px;
 font-style:italic;
 font-weight:bold;
}
